.comic-detail {
    .hero-detail {
        z-index: 0;
        .comic-cover {
            z-index: 1;
            bottom: -3rem;
            left: 19%;
        }
    }
    .blue-space {
        height: 50px;
        background: $blue-col;
    }
    .details {
        max-width: 950px;
        img {
            width: 100%;
        }
        .info-box {
            border-bottom: solid 1px;
            color: $white;
            font-weight: bold;
            .price {
                flex-grow: 1;
                border-right: 1px solid;
            }
            .price,
            .availability {
                padding: 20px;
                background: $text-green;
            }
        }
    }
    .details, .info  {
        z-index: 1;
        background: white;
    }
    .info {
        color: $text-detail;
        height: 250px;
        background: $back-detail;
        &::before {
            content: "";
            display: table;
            height: 1px;
            width: 100%;
            background: $border-col;
        }
        a {
            color: $blue-col;
            padding-left: 1rem;
        }
        .talent {
            left:25%;
        }
        .specs {
            right:30%;
        }
        .art-by,
        .written-by,
        .series,
        .price,
        .sale {
            border-bottom: 1px solid $border-col;
        }
    }
    .info-detail::before {
        content: "";
        display: table;
        height: 1px;
        width: 100%;
        background: $border-col;
    }
}
