.comics {
    .line {
        height: 1rem;
        background: $blue-col;
    }
    background: $black;
    .comics-list {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); 
        grid-gap: 1rem; 
        img {
            width: 100%;
        }
    }
    h3 {
        padding: 10px;
        color: $white;
    }
    .btn {
        width: 150px;
        line-height: 40px;
        display: block;
        margin: 0 auto;
        text-align: center;
        background: $blue-col;
        a {
            cursor: pointer;
            color: $white;
            text-transform: uppercase;
        }
    }
}
.wrapper-info {
    a {
        color: $white;
    }
    img {
        width: 50px;
    }
}
.white-space {
    z-index: 1;
    height: 6rem;
    background: $white;
}

