.navbar-info {
    max-width: 1170px;
    margin: 0 auto;
    h4 {
        color: $white; 
    }
    i {
        bottom: 0.3rem;
        padding-left: 4px;
        font-size: 1rem;
        color: $white; 
    }
}
.navbar-brand {
    img {
        width: 80%;
    }
}


.navbar-nav {
    .sort {
        padding-left: 0.4rem;
        bottom: 0.4rem;
        color: $blue-col;
    }
    a {
        color: $black;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }
    .search {
        input {
            border: 0;
            border-bottom: 2px solid $blue-col;
            outline: none;
            font-weight: bold;
            max-width: 120px;
        }
        i {
            bottom: 0.4rem;
            right: 0.2rem;
            font-size: 1.1rem;
            color: $text-col;
        }
    }

}