// LAYOUT
.wrapper {
    max-width: 1170px;
    height: 100vh;
    padding: 0 1rem;
    margin: 0 auto;
}

.wrapper-up {
    width: 100%;
    height: 40px;
    background: $blue-col;
}

.flex {
    display: flex;
}

.text-end {
    text-align: end;
}

.a-c {
    align-items: center;
}

.a-content {
    align-content: center;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.jc-end {
    justify-content: end;
}

.no-list {
    list-style: none;
    text-decoration: none;
}




// SPACERS
@each $size in 0, 1, 2, 3, 4, 6 {
    .mt-#{$size} {
        margin-top: $size + 0rem; 
    }
    .pt-#{$size} {
        padding-top: $size + 0rem; 
    }
    .mb-#{$size} {
        margin-bottom: $size + 0rem; 
    }
    .pb-#{$size} {
        padding-bottom: $size + 0rem; 
    }
    .pr-#{$size} {
        padding-right: $size + 0rem;
    }
    .mr-#{$size} {
        margin-right: $size + 0rem; 
    }
}



//Position relative e absolute
.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}