// COLORS
$blue-col: #0282f9;
$text-col: #464646;
$white: #fff;
$black: #000;
$text-footer: #868686;
$back-footer: #303030;
$back-detail: #f6f6f6;
$text-detail: #003f5e;
$border-col: #ccc;
$text-green: #55ba59;


//TIPOGRAPHY
$main-font: sans-serif;
